In [1]:
pip install selenium

Collecting selenium
  Downloading https://files.pythonhosted.org/packages/80/d6/4294f0b4bce4de0abf13e17190289f9d0613b0a44e5dd6a7f5ca98459853/selenium-3.141.0-py2.py3-none-any.whl (904kB)
Requirement already satisfied: urllib3 in c:\users\andyl\anaconda3\lib\site-packages (from selenium) (1.24.2)
Installing collected packages: selenium
Successfully installed selenium-3.141.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import random
from time import sleep
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np

In [28]:
#En esta comuna los datos estaban en csv.
options = Options()
options.add_argument("start-maximized")
driver = webdriver.Chrome(chrome_options=options, executable_path=r'./chromedriver.exe')
driver.get('https://transparencia.providencia.cl/tact/Carpeta/VerTabla/24')
print("Page Title is : Datos providencia %s" %driver.title)

C:\Users\andyl\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: use options instead of chrome_options
  This is separate from the ipykernel package so we can avoid doing imports until

Page Title is : Datos providencia Personal a Contrata

In [ ]:
df = pd.read_csv('Personal a contrata.csv')
df

In [ ]:
options = Options()
options.add_argument("start-maximized")
driver = webdriver.Chrome(chrome_options=options, executable_path=r'./chromedriver.exe')
driver.get('https://transparencia.providencia.cl/tact/Carpeta/VerTabla/23')
print("Page Title is : Datos providencia %s" %driver.title)

In [7]:
df = pd.read_csv('Personal de planta.csv')
df

    Personal Planta - junio 2020;06-2020;http://firma.providencia.cl/dsign/cgi/sdoc.exe/sdoc/document?id=UdwdA%2Br6SPOOka7%2BrZ6xlQ%3D%3D
0    Personal Planta - Mayo 2020;05-2020;http://fir...
1    Personal de Planta - Abril 2020;04-2020;http:/...
2    Personal Planta- Marzo 2020;03-2020;http://fir...
3    Personal Planta - Febrero 2020;02-2020;http://...
4    Personal de Planta - Enero 2020;01-2020;http:/...
..                                                 ...
138  Personal Suplente - Mayo 2009;05-2009;http://f...
139  Personal Planta - Mayo 2009;05-2009;http://fir...
140  Personal de Planta - Abril 2009;04-2009;http:/...
141  Personal de Planta - Marzo 2009;03-2009;http:/...
142  Personal Suplente - Marzo 2009;03-2009;http://...

[143 rows x 1 columns]

In [2]:
#personal a contrata
options = Options()
options.add_argument("start-maximized")
driver = webdriver.Chrome(chrome_options=options, executable_path=r'./chromedriver.exe')
driver.get('https://www.portaltransparencia.cl/PortalPdT/pdtta/-/ta/CM001/PR/PCONT/51235228')
print("Page Title is : Datos ñuñoa contrata %s" %driver.title)

C:\Users\andyl\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: use options instead of chrome_options
  after removing the cwd from sys.path.

Page Title is : Datos ñuñoa Transparencia Activa de Organismos - Portal de Transparencia

In [3]:
#Creamos el boton para poder avanzar por las paginas, dentro del for cambiamos el segundo span por una casilla i, que permite que avance hasta 3 veces por las paginas, si le ponia mas daba error.
boton =driver.find_element_by_xpath("//*[@id='A2248:form-visualizar:datosplantilla_paginator_top']/span[3]/span[2]")
for i in range(3):
    try:
        boton.click()
        sleep(random.uniform(8.0,10.0))
        boton =driver.find_element_by_xpath("//*[@id='A2248:form-visualizar:datosplantilla_paginator_top']/span[3]/span[i]")
    except:
        break

In [4]:
#aqui extraemos la info de las filas y columnas de la pagina
tablas = driver.find_elements_by_xpath("//*[@id='A2248:form-visualizar:datosplantilla_data']/tr")
TablaCol = driver.find_elements_by_xpath("//*[@id='A2248:form-visualizar:datosplantilla_data']/tr[1]/td")

In [5]:
#aqui los segmentamos en cada variable para luego insertarla a la base de datos
for a in tablas:
    año = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[1]/div')
    mes = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[2]/div')
    Estamento = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[3]/div')
    Nombre_completo = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[4]/div')
    Cargo_o_función = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[5]/div')
    Grado_EUS_Cargo_con_jornada = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[6]/div')
    Calificación_profesional= a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[7]/div')
    Región= a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[8]/div')
    Asignaciones_especiales=a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[9]/div')
    Unidad_monetaria = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[10]/div')
    Remuneración_bruta= a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[11]/div')
    Remuneración_líquida= a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[12]/div')
    Montos_y_horas_diurnas = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[13]/div')
    Montos_y_horas_nocturnas= a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[14]/div')
    Montos_y_horas_festivas= a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[15]/div')
    Fecha_de_inicio = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[16]/div')
    Fecha_de_término = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[17]/div')
    Declaración_de_intereses = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[18]/div')
    Viáticos = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[19]/div')
    Observaciones = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[20]/div')

In [6]:
#creamos el dataframe con un index.
df={'Año': año , 'Mes' : mes , 'Estamento': Estamento,'NombreCompleto': Nombre_completo,'Cargo': Cargo_o_función,'Grado': Grado_EUS_Cargo_con_jornada,'Formacion':Calificación_profesional,'Region':Región,'Asignacion Especial': Asignaciones_especiales,'Unidad Monetaria':Unidad_monetaria,'Sueldo Bruto':Remuneración_bruta,'Sueldo Liquido':Remuneración_líquida,'HorasExtrasDiurno':Montos_y_horas_diurnas,'HorasExtrasNocturno': Montos_y_horas_nocturnas,'HorasExtrasFestivos':Montos_y_horas_festivas,'FechaInicio': Fecha_de_inicio,'FechaTermino':Fecha_de_término,'DeclaraIntereses':Declaración_de_intereses,'Viaticos':Viáticos,'Observaciones':Observaciones}
dataframe=pd.DataFrame([df])
dataframe.index = np.arange(1, len(dataframe)+1)

In [20]:
import sqlite3

# conectamos la funcion a la base de datos, 
conn = sqlite3.connect('session.db')
print(conn)

<sqlite3.Connection object at 0x000002B072582650>

In [21]:
    conn.execute('''
         CREATE TABLE ContrataÑuñoa9
         (ID    INTEGER        PRIMARY KEY,
         AÑO          INTEGER  NOT NULL,
         MES        TEXT NOT NULL,
         ESTAMENTO        TEXT    NOT NULL,
         NOMBRECOMPLETO        TEXT    NOT NULL,
         CARGO         TEXT NOT NULL,
         GRADO INTEGER    NOT NULL,
         FORMACION      TEXT   NOT NULL,
         REGION        TEXT    NOT NULL,
         ASIGNACIONESPECIAL    TEXT NOT NULL,
         UNIDADMONETARIA        TEXT    NOT NULL,
         SUELDOBRUTO    INTEGER    NOT NULL,
         SUELDOLIQUIDO   INTEGER   NOT NULL,
         HORASEXTRASDIURNO   TEXT   NOT NULL,
         HORASEXTRASVESPERTINO  TEXT    NOT NULL,
         HORASEXTRASFESTIVOS    TEXT   NOT NULL,
         FECHAINICIO       TEXT   NOT NULL,
         FECHATERMINO      TEXT    NOT NULL,
         DECLARAINTERESES   TEXT NOT NULL,
         VIATICOS     TEXT          NOT NULL,
         OBSERVACIONES    TEXT      NOT NULL);''')
    print ("Table created successfully");
conn.close()
print ("Table created successfully");

OperationalError: database is locked

In [10]:
#agregamos
dataframe_list = dataframe.values.tolist()
conn = sqlite3.connect('session.db')
cur = conn.cursor()

In [11]:
#pasamos los datos
cur.executemany("INSERT INTO ContrataÑuñoa9(año,mes,Estamento,Nombre_completo,Cargo_o_función,Grado_EUS_Cargo_con_jornada,Calificación_profesional,Región,Asignaciones_especiales,Unidad_monetaria,Remuneración_bruta,Remuneración_líquida,Montos_y_horas_diurnas,Montos_y_horas_nocturnas,Montos_y_horas_festivas,Fecha_de_inicio,Fecha_de_término,Declaración_de_intereses,Viáticos,Observaciones) VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)" ,dataframe_list)
conn.commit()
print('Data Inserted Successfully')

OperationalError: no such table: ContrataÑuñoa9

In [164]:
#hacemos la conexion para mostrar los datos finalmente
conn = sqlite3.connect('session.db')
rows = cur.execute('Select * from ContrataÑuñoa5')
# print(rows[:2])
for row in rows:
    print(row)
conn.close()

In [13]:
#me funciono, pero la base de datos se me lockeo y no supe como desbloquearla, me imagino que es un problema de sqlite.
#aca abajo pondre el mismo proceso para los personal de planta.

In [14]:
#personal de planta
options = Options()
options.add_argument("start-maximized")
driver = webdriver.Chrome(chrome_options=options, executable_path=r'./chromedriver.exe')
driver.get('https://www.portaltransparencia.cl/PortalPdT/pdtta/-/ta/CM001/PR/PPLANT/51240655')
print("Page Title is : Datos ñuñoa %s" %driver.title)

C:\Users\andyl\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: use options instead of chrome_options
  after removing the cwd from sys.path.

Page Title is : Datos ñuñoa Transparencia Activa de Organismos - Portal de Transparencia

In [15]:
boton =driver.find_element_by_xpath("//*[@id='A2248:form-visualizar:datosplantilla_paginator_top']/span[3]/span[2]")
for i in range(3):
    try:
        boton.click()
        sleep(random.uniform(8.0,10.0))
        boton =driver.find_element_by_xpath("//*[@id='A2248:form-visualizar:datosplantilla_paginator_top']/span[3]/span[i]")
    except:
        break

In [16]:
tablas = driver.find_elements_by_xpath("//*[@id='A2248:form-visualizar:datosplantilla_data']/tr")
TablaCol = driver.find_elements_by_xpath("//*[@id='A2248:form-visualizar:datosplantilla_data']/tr[1]/td")

In [17]:
for a in tablas:
    año = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[1]/div')
    mes = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[2]/div')
    Estamento = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[3]/div')
    Nombre_completo = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[4]/div')
    Cargo_o_función = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[5]/div')
    Grado_EUS_Cargo_con_jornada = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[6]/div')
    Calificación_profesional= a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[7]/div')
    Región= a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[8]/div')
    Asignaciones_especiales=a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[9]/div')
    Unidad_monetaria = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[10]/div')
    Remuneración_bruta= a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[11]/div')
    Remuneración_líquida= a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[12]/div')
    Montos_y_horas_diurnas = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[13]/div')
    Montos_y_horas_nocturnas= a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[14]/div')
    Montos_y_horas_festivas= a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[15]/div')
    Fecha_de_inicio = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[16]/div')
    Fecha_de_término = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[17]/div')
    Observaciones = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[18]/div')
    Declaración_de_intereses = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[19]/div')
    Viáticos = a.find_element_by_xpath('//*[@id="A2248:form-visualizar:datosplantilla_data"]/tr/td[20]/div')

In [18]:
df={'Año': año , 'Mes' : mes , 'Estamento': Estamento,'NombreCompleto': Nombre_completo,'Cargo': Cargo_o_función,'Grado': Grado_EUS_Cargo_con_jornada,'Formacion':Calificación_profesional,'Region':Región,'Asignacion Especial': Asignaciones_especiales,'Unidad Monetaria':Unidad_monetaria,'Sueldo Bruto':Remuneración_bruta,'Sueldo Liquido':Remuneración_líquida,'HorasExtrasDiurno':Montos_y_horas_diurnas,'HorasExtrasNocturno': Montos_y_horas_nocturnas,'HorasExtrasFestivos':Montos_y_horas_festivas,'FechaInicio': Fecha_de_inicio,'FechaTermino':Fecha_de_término,'Observaciones':Observaciones,'DeclaraIntereses':Declaración_de_intereses,'Viaticos':Viáticos}
dataframe=pd.DataFrame([df])
dataframe.index = np.arange(1, len(dataframe)+1)

In [19]:
import sqlite3

# connect function opens a connection to the SQLite database file, 
conn = sqlite3.connect('session.db')
print(conn)

<sqlite3.Connection object at 0x000002B072582730>

In [ ]:
conn.execute('''
         CREATE TABLE PlantaÑuñoa
         (ID    INTEGER        PRIMARY KEY,
         AÑO          INTEGER  NOT NULL,
         MES        TEXT NOT NULL,
         ESTAMENTO        TEXT    NOT NULL,
         NOMBRECOMPLETO        TEXT    NOT NULL,
         CARGO         TEXT NOT NULL,
         GRADO INTEGER    NOT NULL,
         FORMACION      TEXT   NOT NULL,
         REGION        TEXT    NOT NULL,
         ASIGNACIONESPECIAL    TEXT NOT NULL,
         UNIDADMONETARIA        TEXT    NOT NULL,
         SUELDOBRUTO    INTEGER    NOT NULL,
         SUELDOLIQUIDO   INTEGER   NOT NULL,
         HORASEXTRASDIURNO   TEXT   NOT NULL,
         HORASEXTRASVESPERTINO  TEXT    NOT NULL,
         HORASEXTRASFESTIVOS    TEXT   NOT NULL,
         FECHAINICIO       TEXT   NOT NULL,
         FECHATERMINO      TEXT    NOT NULL,
         OBSERVACIONES    TEXT      NOT NULL,
         DECLARAINTERESES   TEXT NOT NULL,
         VIATICOS     TEXT          NOT NULL);''')
    print ("Table created successfully");
conn.close()
print ("Table created successfully");

In [ ]:
dataframe_list = dataframe.values.tolist()
conn = sqlite3.connect('session.db')
cur = conn.cursor()

In [ ]:
cur.executemany("INSERT INTO PlantaÑuñoa(año,mes,Estamento,Nombre_completo,Cargo_o_función,Grado_EUS_Cargo_con_jornada,Calificación_profesional,Región,Asignaciones_especiales,Unidad_monetaria,Remuneración_bruta,Remuneración_líquida,Montos_y_horas_diurnas,Montos_y_horas_nocturnas,Montos_y_horas_festivas,Fecha_de_inicio,Fecha_de_término,Declaración_de_intereses,Viáticos,Observaciones) VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)" ,dataframe_list)
conn.commit()
print('Data Inserted Successfully')

In [ ]:
conn = sqlite3.connect('session.db')
rows = cur.execute('Select * from ContrataÑuñoa5')
# print(rows[:2])
for row in rows:
    print(row)
conn.close()